.mermaid > svg {
    margin: auto;
}

.line-highlight {
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.1) 70%, hsla(180, 23.8%, 4.1%, 0.04));
}

pre[class*="language-"] {
	margin: 0rem;
}

#content {
	scrollbar-color: #131516 #a0aec0;
}

input[class*="form-tick"][checked] {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e")
}
